body{background:#fff;font-family:"Source Sans Pro",helvetica,arial,verdana,sans-serif;font-size:16px;line-height:1.5;color:#212121}.footer{margin-top:6em;padding-bottom:12em;padding-top:1em;border-top:1px #ebebeb solid;color:#727272}